@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');



:root{
  --color:#6C5CE7;
}

*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-transform: capitalize;
  transition: all .2s linear;
  text-decoration: none;
}

html{
  font-size: 62.5%;
}

body{
  overflow-x: hidden;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::selection{
background: rgb(0,123,255,0.3);
}

.navbar{
  position: fixed;
  width: 100%;
  z-index: 2;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s ease;
  background-color: white;
}
.navbar.sticky{
  background:white;
  padding: 8px 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .menu-list{
  display: inline-flex;
  padding-right: 20px;
}
.menu-list li{
  list-style: none;
  margin-left: 40px;
}

.navbar .logo a{
  color: black;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  margin-left:25px ;
}
.menu-list li a{
  color:black;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: #6150e2;
}

.icon{
  color: black;
  font-size: 20px;
  margin-right: 15px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn{
  position: absolute;
  color: black;
  right: 30px;
  top: 20px;
}

.heading{
  margin:2rem;
  padding-top: 6rem;
  display: inline-block;
  font-size: 3.5rem;
  color:var(--color);
  position: relative;
  letter-spacing: .2rem;
}

.heading::before, .heading::after{
  content: '';
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  border-top:.4rem solid var(--color);
  border-left:.4rem solid var(--color);
}

.heading::before{
  top:5.8rem; left: -2rem;
}

.heading::after{
  bottom:-.5rem; right: -2rem;
  transform: rotate(180deg);
}

.heading1{
  margin:3rem;
  padding-top: 6rem;
  display: inline-block;
  font-size: 3.5rem;
  color:white;
  position: relative;
  letter-spacing: .2rem;
}

.heading1::before, .heading1::after{
  content: '';
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  border-top:.4rem solid var(--color);
  border-left:.4rem solid var(--color);
}

.heading1::before{
  top:5.8rem; left: -2rem;
}

.heading1::after{
  bottom:-.5rem; right: -2rem;
  transform: rotate(180deg);
}

.btn{
  outline: none;
  border: none;
  border-radius: 5rem;
  background: var(--color);
  color:#fff;
  cursor: pointer;
  height:3.5rem;
  width: 15rem;
  font-size: 1.7rem;
  box-shadow: 0 .2rem .5rem rgba(0,0,0,.3);
}

.btn:hover{
  letter-spacing: .1rem;
  opacity: .8;
}

/* --------about---------- */

.about{
  min-height: 100vh;
  width: 100vw;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color:rgb(29, 28, 28);
  color:white;
}

.about .row{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right:4rem;
  padding-left: 5rem;
}

.about .row .content{
  text-align: left;
  padding-right:3rem;
}

.about .row .image img{
  width: 50vw;
}

.about .row .content h3{
  font-size: 3rem;
}

.about .row .content p{
  font-size: 1.5rem;
  padding:2rem 0;
}

.about::before, .about::after{
  content: '';
  position: absolute;
  z-index: -1;
  opacity:.2;
  border-radius: 50%;
}

.about::before{
  height:50rem;
  width:50rem;
  background:#ccc;
  bottom:-10rem; left:-10rem;
}

.about::after{
  height:60rem;
  width:60rem;
  background:var(--color);
  top:-10rem; right:-10rem;
}

/* --------service---------- */

.service{
  width: 100vw;
  text-align: center;
}

.service .row{
  margin:2rem 0;
  padding:0 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service .row .image img{
  width:40vw;
  height:44vh;
}

.service .row .content{
  text-align: left;
  padding:0 3rem;
}

.service .row .content h3{
  font-size: 3rem;
  color:var(--color);
}

.service .row .content p{
  font-size: 1.5rem;
  color:#333;
  padding:1rem 0;
}

/* --------team---------- */

.team{
  min-height: 100vh;
  width:100vw;
  text-align: center;
  background-color: #222;;
}

.team .heading{
  color:#fff;
}

.team .heading::before, .team .heading::after{
  border-color:#fff;
}

.team .row{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.team .row .card{
  height:35rem;
  width:25rem;
  background:#fff;
  text-align: center;
  margin:7rem 2rem;
  position: relative;
  overflow: hidden;
  -webkit-box-reflect: below .2rem linear-gradient(transparent 70%, #0004);
}

.team .row .card .image{
  margin:1rem 0;
  padding-top: 4rem;
}

.team .row .card .image img{
  height:13rem;
  width:13rem;
  border-radius: 50%;
  border:.5rem solid #fff;
  box-shadow: 0 0 .5rem rgba(0,0,0,.3);
  object-fit: cover;
}

.team .row .card .info h3{
  font-size: 2rem;
  color:#333;
}

.team .row .card .info span{
  font-size: 1.8rem;
  color:var(--color);
}

.team .row .card .info .icons a{
  margin-top: 4rem;
  padding:0 1rem;
  font-size: 2rem;
  color:#333;
}

.team .row .card .info .icons a:hover{
  color:var(--color);
}

.team .row .card::before, .team .row .card::after{
  content: '';
  position: absolute;
  border-radius: 50%;
  height:15rem;
  width:15rem;
  z-index: -1;
}

.team .row .card::before{
  background:var(--color);
  top:-3rem; right: -4rem; 
}

.team .row .card::after{
  background:#ccc;
  bottom:-3rem; left: -4rem;
}

.banner{
  height: 400px;
  background-color:rgb(29, 28, 28);
  display: flex;
  flex-direction: row;
  padding: 50px;
  justify-content: space-evenly;
  align-items: center;
}

.bannerText h1{
  font-size: 3vw;
  color:white;
  font-weight: 600;
}

.bannerText img{
  width: 13vw;
  margin-right: 20px;
}

.bannerImg img{
  margin-top: 21px;
  width: 20vw;
}




/* media queries  */

@media (max-width:768px){

  html{
    font-size: 50%;
  }

  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: white;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }

  .about .row{
    flex-flow: column-reverse;
    padding:0 2rem;
  }

  .about .row .image img{
    width: 100vw;
  }

  .service .row{
    flex-flow: column-reverse;
  }

  .service .row:nth-child(even){
    flex-flow: column;
  }

  .service .row .image img{
    width: 85vw;
  }

  .service .row .content{
    padding:0;
  }

  .banner{
    height: auto;
    flex-direction: column-reverse;
    padding: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

  .banner h1{
      font-size: 6vw;
  }

  .bannerInnerText{
      font-size: 3vw !important;
  }

  .bannerText img{
      width: 23vw;
  }

  .bannerImg img{
      margin-top: 18px;
      width: 28vw;
  }
}

@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 15px;
  }
}
